@import "./vars.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-latin-wght-normal */
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* jost-latin-wght-normal */
@font-face {
  font-family: 'Jost Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jost:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat Variable', sans-serif;
}

body {
  background-color: var(--color-bg);
}

h1 {
  font-weight: 600;

  /* Fallback: Set a background color. */
  background-color: rgb(0, 0, 0);

  /* Create the gradient. */
  background-image: linear-gradient(45deg, var(--color-title-from), var(--color-title-to));
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--color-subtitle);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hv);
}

span {
  color: var(--color-span);
}

section {
  max-width: 1920px;
  overflow-x: hidden;
}

/* FadeIn */
.appearFromLeft {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateX(-100%);
  animation: fromLeft 1.5s ease-in-out forwards;
}

@keyframes fromLeft {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0); }
}

.appearFromRight {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateX(100%);
  animation: fromRight 1.5s ease-in-out forwards;
}

@keyframes fromRight {
  from { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0); }
}

/* ICON SLIDER */
.slider {
  overflow: hidden;
  position: relative;
}

.slider::before, .slider::after {
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-118px * 24));
  }
}

.triangle-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.triangle-divider svg {
  width: calc(100% + 1.3px);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
}

.triangle-divider .shape-fill {
  fill: var(--color-bg-about);
}

.wave-shape-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-shape-divider svg {
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave-shape-divider .about-fill {
  fill: var(--color-bg-about);
}

.wave-shape-divider .shape-fill {
  fill: var(--color-bg-experience);
}

.curve-shape-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-shape-divider svg {
  width: calc(286% + 1.3px);
  height: 150px;
}

.curve-shape-divider .shape-fill {
  fill: var(--color-bg-about);
}

.bg-experience {
  background: linear-gradient(to top, var(--color-bg-experience) 99%, var(--color-bg-about)) 99% 100%;
}