:root {
    --color-bg: #e9f1fc;
    --color-bg-about: #accaaf;
    --color-bg-experience: #ffecd1;
    --color-title-from: #264653;
    --color-title-to: #36c2b1;
    --color-subtitle: #264653;
    --color-text: #001524;
    --color-span: #219ebc;
    --color-link: #219ebc;
    --color-link-hv: #0c3641;
    --color-icon: #15616D;
}
