:root {
    --color-bg: #ede8f5;
    --color-nav-grad: #8b94a5;
    --color-bg-about: #494a7e;
    --color-bg-experience: #8697c4;
    --color-title-from: #5b3e22;
    --color-title-to: #ffffcc;
    --color-subtitle: #5b3e22;
    --color-text: #001524;
    --color-span: #ffffcc;
    --color-span-bg: #3d3d3d93;
    --color-link: #a36e3c;
    --color-link-hv: #4d3e20;
    --color-icon: #190e48;
}
