:root {
    --color-bg: #fbf9f1;
    --color-title-from: #00334E;
    --color-title-to: #33cccc;
    --color-subtitle: #203b94;
    --color-text: #444444;
    --color-span: #6675ff;
    --color-link: #33cccc;
    --color-link-hv: #6675ff;
    --color-icon: #0e3068;
}
